<table>
  <thead>
    <tr>
      <th>TITLE</th>
      <th>COUNT</th>
      <th>ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <tr class="book-item" *ngFor="let book of books">
      <td>{{book.title}}</td>
      <td>{{book.count}}</td>
      <td>
        <button (click)="remove.emit(book)" data-test="remove-button">Remove from Collection</button>
      </td>
    </tr>
  </tbody>
</table>
