<h1>NgRx Tutorial</h1>
<h2>Books</h2>
<h3 style="color: red" *ngIf="booksLoading$|async">Loading...</h3>
items count {{itemsCount$|async}}
<app-book-list [books]="books$ | async" (add)="onAdd($event)"></app-book-list>

<h2>My Collection</h2>
cart count {{cartCount$|async}}
<app-book-collection [books]="bookCollection$ | async" (remove)="onRemove($event)">
</app-book-collection>

<router-outlet></router-outlet>
